body {
    font-family: 'Signika', sans-serif;
}

.header {
    background-image: linear-gradient(to bottom right, red, blue);
    opacity: 80%;
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

#searchCol {
    background-color: #F9F5FC;
    padding: 15px;
}
#currentWeather {
    color: black;
}
